@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
}

/*topnav block*/

.sticknav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: whitesmoke;
    transition: 0.5s;
}

#topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 101px;
    transition: 0.5s;
}

.topnav-center a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    padding: 0 30px;
}

.topnav-right {
    display: flex;
    flex-direction: row;
}

.topnav-right p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    margin-right: 27px;
}

.topnav-right p > img {padding-right: 8px;}
.topnav-right p > span {padding-left: 14px;}

.topnav-right button {
    background: none;
    border: 1px solid rgba(8, 8, 41, 0.2);
    cursor: pointer;
    width: 219px;
    height: 61px;
    border-radius: 14px;
    font-size: 18px;
    letter-spacing: 0.4px;
}

/*Topnav endblock*/

/*Step-1 block*/
.step-1 {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 110px;
}

.step-1-left h2 {
    font-size: 63px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 2.20px;
}

.step-1-left p {
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.40px;
    padding-top: 31px;
}

.step-1-left button {
    background-color: #3F53D8;
    border: none;
    color: white;
    cursor: pointer;
    width: 240px;
    height: 60px;
    border-radius: 14px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-top: 60px;
}

.step-1-left img {
    position: absolute;
    margin-top: 45px;
    margin-left: 34px;
}

.step-1-right-img {margin-left: 130px;}

.step-1-down {
    text-align: center;
    align-self: center;
    margin-top: 143px;
}

.step-1-down h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}

/*Step-1 endblock*/

/*Step-2 block*/
.step-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 147px;
}

.step-2-header {text-align: center;}

.step-2-header h2 {
    font-size: 43px;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding-bottom: 28px;
}

.step-2-header p {
    color: #545479;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
}

.step-2-content {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 107px;
   grid-row-gap: 100px;
   margin-top: 106px;
}

.step-2-box {text-align: center;}

.step-2-box h2 {
    font-size: 24px;
    font-weight: 400;
    padding-top: 31px;
}

/*Step-2 endblock*/

/*Step-3 block*/
.step-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 180px;
}

.step-3-right {margin-left: 138px;}

.step-3-right h2 {
    font-size: 42px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 1.5px;
    padding-bottom: 22px;
}

.step-3-right p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    color: #545479;
    padding-bottom: 35px;
}

.step-3-right ul {
    padding-left: 36px;
    list-style-type: none;
}

.step-3-right ul > li {
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.36px;
    padding-bottom: 14px;
}

.step-3-right button {
    background-color: #3F53D8;
    border: none;
    color: white;
    cursor: pointer;
    width: 174px;
    height: 59px;
    border-radius: 14px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin-top: 64px;
}

/*Step-3 endblock*/

/*Step-4 block*/
.step-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 199px;
}

.step-4-left h2 {
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.step-4-left > p {
    font-size: 18px;
    color: #545479;
    line-height: 29px;
    letter-spacing: 0.36px;
    padding: 27px 0 43px 0;
}

.step-4-left button {
    background-color: #3F53D8;
    color: white;
    border: none;
    cursor: pointer;
    width: 174px;
    height: 60px;
    border-radius: 14px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-top: 48px;
}

.step-4-left-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.step-4-left-box p {
    letter-spacing: 0.36px;
    font-weight: 400;
    padding-bottom: 15px;
    padding-left: 24px;
}

/*Step-4 endblock*/

/*Step-5 block*/
.step-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 180px;
}

.step-5-right {margin-left: 132px;}

.step-5-right h2 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1.4px;
    padding-top: 42px;
}

.step-5-right p {
    color: #545479;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 29px;
    padding-top: 27px;
}

.step-5-right-line {
    width: 510px;
    height: 1px;
    background-color: rgba(8, 8, 41, 0.3);
    margin-top: 35px;
}

.step-5-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

/*Step-5 endblock*/

/*Step-6 block*/
.step-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 117px;
}

.step-6 h2 {
    font-size: 43px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.step-6-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 82px;
}

.step-6-box {margin-left: 90px;}

.step-6-box h2 {
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding-top: 39px;
}

.step-6-box p {
    color: #545479;
    max-width: 334px;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.35px;
    padding-top: 20px;
}

/*Step-6 endblock*/

/*Step-7 block*/
.step-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 197px;
}

.step-7 h2 {
    text-align: center;
    font-size: 43px;
    font-weight: 400;
    letter-spacing: 1.4px;
    line-height: 55px;
}

.step-7-content {
    margin-top: 81px;
    width: 746px;
    height: 432px;
}

.step-7-content p {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.64px;
    padding-top: 34px;
}

.step-7-content h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.48px;
    padding-top: 34px;
}

.step-7-content img {padding-top: 40px;}
/*Step-7 endblock*/

/*Step-8 block*/
.step-8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 246px;
}

.step-8 p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.step-8 p > img {margin-right: 24px;}

.step-8-content {
    display: flex;
    flex-direction: row;
}

.step-8-box {padding: 0 40px;}

.step-8-box h2  {
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 1.4px;
    padding-bottom: 15px;
}

.step-8-box h2 > span {color: #3F53D8;}

.step-8-box p {
    color: #545479;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}
/*Step-8 endblock*/

/*Step-9 block*/
.step-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 97px;
}

.step-9 h2 {
    text-align: center;
    font-size: 47px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 1.4px;
}

.step-9-top {
    margin-top: 91px;
    margin-bottom: 80px;
}

.step-9-top img {padding: 0 88px;}
.step-9-down img {padding: 0 60px;}
/*Step-9 endblock*/

/*Step-10 block*/
.step-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 177px;
}

.step-10 h2 {
    font-size: 43px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 1.5px;
}

.step-10-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 86px;
}

.step-10-box {margin: 0 30px;}

.step-10-box-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 113px;
    height: 34px;
    border-radius: 10px;
    margin-top: 31px;
    margin-bottom: 27px;
}

.step-10-box h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.52px;
    margin-bottom: 20px;
}

.step-10-box p {
    line-height: 18px;
    font-weight: 400;
    margin-top: 21px;
}

/*Step-10 endblock*/

/*Step-11 block*/
.step-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/LayoutWeb_9/img/step-11-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 676px;
    margin-top: 179px;
}

.step-11 h2 {
    text-align: center;
    color: white;
    font-size: 64px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 2.16px;
}

.step-11 button {
    background-color: #3F53D8;
    border: none;
    border-radius: 14px;
    color: white;
    width: 240px;
    height: 59px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin-top: 65px;
}

.step-11-img {
    position: relative;
    top: 70px;
    left: 50px;
}

/*Step-11 endblock*/