@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
}

/*topnav block*/

.sticknav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: whitesmoke;
    transition: 0.5s;
}

#topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 101px;
    transition: 0.5s;
}

.topnav-center a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    padding: 0 30px;
}

.topnav-right {
    display: flex;
    flex-direction: row;
}

.topnav-right p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    margin-right: 27px;
}

.topnav-right p > img {padding-right: 8px;}
.topnav-right p > span {padding-left: 14px;}

.topnav-right button {
    background: none;
    border: 1px solid rgba(8, 8, 41, 0.2);
    cursor: pointer;
    width: 219px;
    height: 61px;
    border-radius: 14px;
    font-size: 18px;
    letter-spacing: 0.4px;
}

/*Topnav endblock*/

/*Step-1 block*/
.step-1 {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 110px;
}

.step-1-left h2 {
    font-size: 63px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 2.20px;
}

.step-1-left p {
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.40px;
    padding-top: 31px;
}

.step-1-left button {
    background-color: #3F53D8;
    border: none;
    color: white;
    cursor: pointer;
    width: 240px;
    height: 60px;
    border-radius: 14px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-top: 60px;
}

.step-1-left img {
    position: absolute;
    margin-top: 45px;
    margin-left: 34px;
}

.step-1-right-img {margin-left: 130px;}

.step-1-down {
    text-align: center;
    align-self: center;
    margin-top: 143px;
}

.step-1-down h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}

/*Step-1 endblock*/

/*Step-2 block*/
.step-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 147px;
}

.step-2-header {text-align: center;}

.step-2-header h2 {
    font-size: 43px;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding-bottom: 28px;
}

.step-2-header p {
    color: #545479;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
}

.step-2-content {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 107px;
   grid-row-gap: 100px;
   margin-top: 106px;
}

.step-2-box {text-align: center;}

.step-2-box h2 {
    font-size: 24px;
    font-weight: 400;
    padding-top: 31px;
}

/*Step-2 endblock*/

/*Step-3 block*/
.step-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 180px;
}

.step-3-right {margin-left: 138px;}

.step-3-right h2 {
    font-size: 42px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 1.5px;
    padding-bottom: 22px;
}

.step-3-right p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    color: #545479;
    padding-bottom: 35px;
}

.step-3-right ul {
    padding-left: 36px;
    list-style-type: none;
}

.step-3-right ul > li {
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.36px;
    padding-bottom: 14px;
}

.step-3-right button {
    background-color: #3F53D8;
    border: none;
    color: white;
    cursor: pointer;
    width: 174px;
    height: 59px;
    border-radius: 14px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin-top: 64px;
}

/*Step-3 endblock*/

/*Step-4 block*/
.step-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 199px;
}

.step-4-left h2 {
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.step-4-left > p {
    font-size: 18px;
    color: #545479;
    line-height: 29px;
    letter-spacing: 0.36px;
    padding: 27px 0 43px 0;
}

.step-4-left button {
    background-color: #3F53D8;
    color: white;
    border: none;
    cursor: pointer;
    width: 174px;
    height: 60px;
    border-radius: 14px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-top: 48px;
}

.step-4-left-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.step-4-left-box p {
    letter-spacing: 0.36px;
    font-weight: 400;
    padding-bottom: 15px;
    padding-left: 24px;
}

/*Step-4 endblock*/

/*Step-5 block*/
.step-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 180px;
}

.step-5-right {margin-left: 132px;}

.step-5-right h2 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1.4px;
    padding-top: 42px;
}

.step-5-right p {
    color: #545479;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 29px;
    padding-top: 27px;
}

.step-5-right-line {
    width: 510px;
    height: 1px;
    background-color: rgba(8, 8, 41, 0.3);
    margin-top: 35px;
}

.step-5-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

/*Step-5 endblock*/